version: '0.1'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:5001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
#    volumes:
#      - /frontend/src:/app/src
#    environment:
#      - REACT_APP_API_URL=http://localhost:5000